/* 1. very top of the web */

/* phone */
@media (max-width: 600px) {
  .top {
    flex-direction: column;
  }
}
/* desktop & tablet */
@media (min-width: 600px) {
  .top {
    justify-content: space-between;
  }
}
.top {
  /* layout */
  display: flex;
  padding: 20px;

  /* style */
  font-family: "Montserrat", sans-serif;
  font-size: 70%;
}
/* top left */
.full-name {
  color: #2a2d7c;
}
.museum-name {
  color: #c9523d;
}
/* top right */
.tabs {
  /* layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tabs a {
  /* style */
  color: #000000;
  /* layout: space between tabs */
  margin: 5px;
}

/* 2. TODO: heart beat counter? */
/* phone */
@media (max-width: 600px) {
  #counter {
    font-size: 200%;
  }
}
/* desktop & tablet */
@media (min-width: 600px) {
  #counter {
    font-size: 400%;
  }
}
#counter {
  /* layout */
  /* TODO: display: flex; */
  margin: auto;
  text-align: center;
  padding: 50px;

  /* style */
  background-color: #000000;
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

/* 3. title of the paragraph */
/* phone */
@media (max-width: 600px) {
  h1 {
    font-size: 60%;
  }
  h2 {
    font-size: 30%;
  }
}
/* tablet */
@media (max-width: 768px) {
  h1 {
    width: 80%;
    font-size: 120%;
  }
  h2 {
    font-size: 100%;
  }
}
/* desktop  */
@media (min-width: 768px) {
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 100%;
  }
}

header {
  /* layout */
  text-align: center;
  padding: 20px;
  /* style */
  font-family: "Open Sans", sans-serif;
}
h1 {
  /* layout */
  padding: 20px;
  /* style */
  font-weight: 600;
}
h2 {
  /* style */
  font-weight: 600;
}

/* 4. images */
.slidshow-container {
  /* max-width: 1000px; */
  /* display: flex; */
  position: relative;
}
.slide {
  /* width: 100%; */

  text-align: center;
  display: none;
}
.slide img {
  position: relative;
  width: 60%;
}
.caption {
  /* layout */
  position: relative;
  left: 24%;
  top: -50px;
  width: 50%; /*shorter than img*/

  /* style */
  font-family: "Open Sans", sans-serif;
  color: #f2f2f2;
  font-size: 60%;
  font-weight: 400;
}

#next,
#prev {
  /* annimation */
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;

  /* layout */
  position: absolute;
  top: 60%;

  /* style */
  color: red;
  /* color: #f2f2f2; */
  font-weight: 200;
  padding: 10px;
}
#prev {
  left: 20%;
}
#next {
  /* layout */
  right: 20%;
}
/* Background color when mouse on button */
#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.position {
  /* layout */
  position: relative;
  right: 27%;
  top: 20px;
  z-index: 10;
  /* style */
  color: #f2f2f2;
  font-size: 50%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 12px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.navigator {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation when switching pic */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 5. paragraph */
/* phone */
@media (max-width: 600px) {
  main p {
    width: 100%;
    margin: 0;
  }
}
/* tablet */
@media (max-width: 768px) {
  main p {
    width: 80%;
  }
}
/* desktop  */
@media (min-width: 768px) {
  main p {
    width: 58%;
  }
}

main p {
  /* style */
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 60%;
  font-weight: 400;

  /* layout */
  display: block;
  margin: auto;
  padding: 10px;
  line-height: 120%;
  /* background-color: #2a2d7c; */
}

/* 6. footer */
/* phone */
@media (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Montserrat", sans-serif;
    background-color: #c6d2da;
  }
  .box > h3 {
    font-weight: 600;
    font-size: 100%;
    /* background-color: #2a2d7c; */
  }
}
/* desktop & tablet */
@media (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    background-color: #c6d2da;
  }

  .box > h3 {
    font-weight: 600;
    font-size: 100%;
    /* background-color: #2a2d7c; */
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.box {
  /* text-align: left; */
  padding: 10px;
  font-weight: 300;
  font-size: 60%;
  line-height: normal; /*spacing between lines*/
}

/* overall style */
a {
  text-decoration: none;
}
